body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
 .btn-success, .bg-success {
    background: #64bf4b !important;
}
text{
    color: #64BF4B !important;
}
.card {
    /* width: 100% !important; */
    padding: 0;
    text-align: center;
    border-radius: 10px;
    margin: auto !important;
}

.card-body {
    text-align: center;
}
.card-header {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
.card-footer {
    border: none;
    background: none;
}

a {
    text-decoration: none;
}
a:hover {
    color: #205a10 !important;
}
input {
    background: #3333 !important;
    margin: 15px;
    caret-color: #64BF4B;
}
input::placeholder {
    color: rgb(24, 21, 21) !important;
    font-weight: bold;
}

input:active {
    border-color: #1d221c;
}

button{
    margin: 15px;
    font-weight: bolder !important;
}

button:hover {
    background: #328f19 !important;
}

button, input {
    width: 100%;
    border-radius: 45px !important;
}
